<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664935989773-ah5abjlif6n9jq1qc4ndb12rm537b43g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664935989773-ah5abjlif6n9jq1qc4ndb12rm537b43g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>664935989773-0b2pels0oe16jpgbf20gor7218ud85na.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCMqLF3KR_guvs5YAfnf6Mi870fBgmr6k4</string>
	<key>GCM_SENDER_ID</key>
	<string>664935989773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Trip-Trader</string>
	<key>PROJECT_ID</key>
	<string>karblock-3f99f</string>
	<key>STORAGE_BUCKET</key>
	<string>karblock-3f99f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664935989773:ios:aa6598c7dfcdd617080b44</string>
</dict>
</plist>