<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491634645448-rv2cnu0o93li5fir8av5eddn02pl7agu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491634645448-rv2cnu0o93li5fir8av5eddn02pl7agu</string>
	<key>API_KEY</key>
	<string>AIzaSyDYGP94NO7pDH_dTH1y8kooAgjxOQ2cz-E</string>
	<key>GCM_SENDER_ID</key>
	<string>491634645448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TripTrader</string>
	<key>PROJECT_ID</key>
	<string>triptrader-b86d5</string>
	<key>STORAGE_BUCKET</key>
	<string>triptrader-b86d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491634645448:ios:89b978503d75608db548fd</string>
</dict>
</plist>